@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  @apply outline-none ring-1;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: transparent;
  /* or add it to the track */
}

::-webkit-scrollbar-thumb {
  background: rgb(209 213 219);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(178, 185, 197);
}
::-webkit-scrollbar-thumb:active {
  background: rgb(156, 163, 175);
}

.sidebar-open {
  width: 16rem;
  transition: width 0.3s ease-in-out;
}

.sidebar-closed {
  width: 4rem;
  transition: width 0.3s ease-in-out;
}

@media screen and (max-width: 640px) {
  .sidebar-open {
    width: 0; /* Mueve el sidebar fuera de la vista a la izquierda */
    transition: 0.1s ease-in-out;
  }
  .sidebar-closed {
    width: 16rem;
    transition: 0s ease-in-out;
  }
}

@media screen and (max-width: 640px) {
  .sidebar-openLect {
    display: none; /* Mueve el sidebar fuera de la vista a la izquierda */
    transition: 0.1s ease-in-out;
  }
  .sidebar-closedLect {
    display: block; /* Mueve el sidebar fuera de la vista a la izquierda */
    width: 16rem;
    transition: 0s ease-in-out;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}

.selectcont {
  background-position-x: calc(100% - 15px);
}
.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium hover:bg-slate-100 dark:hover:bg-slate-700 uppercase;
}

.active {
  @apply bg-blue-100 dark:bg-slate-600 dark:text-blue-400 text-blue-600;
}
